.header{
    .header-menu{

        a{  
            font-size: 16px;
            line-height: 1.5;
            padding:14px 16.5px;

            &:hover{
                border-bottom: $danger 1px solid;
            }
        }
        
    }
}

.preference{
    img{
        width: 350px;
        height: 350px;
    }
}

.footer{
    
    .subscripe{
        height: 320px;
        background-image:url('../images/index-3.jpg') ;
        background-position: center center;
        background-size:cover;
    }

    input[type="email"]{
        width: 214px;
        height: 48px;
        border-radius: 4px 0px 0px 4px;
        border:1px $light solid;
        

        &::placeholder{
            padding: 12px;
            color:$info;
        }
    }

    input[type="submit"]{
        width: 136px;
        height: 48px;
        background: $danger;
        border-radius: 0px 4px 4px 0px;
        margin-left: -4px;
        border:1px $danger solid;
    }
}

.index-banner{
    height: 480px;
    background-image:url('../images/index-1.jpg') ;
    background-position: center center;
    background-size: cover;

    input[type="button"]{
        width: 160px;
        height: 44px;
    }
}

.cart-list{
    top: 55px;
    right: 25px;
    height: 720px;
    width: 540px;
    display: none;


    .cart-item-detail{
        height: 540px;
        overflow-y:scroll;
        overflow-x: hidden;

        
        &::-webkit-scrollbar{
            width:5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $danger;
            border-radius: 4px 0px 0px 4px;
            margin-left: 30px;
        }

        &::-webkit-scrollbar-track{
            background: #fff;
            margin-left: 15px;
        }
    }

    .cart-item{
        width: 476px;
        height: 172px;
        border-radius: 4px;

        img{
            width: 125px;
            height: 125px;
        }

        .cart-info{
            padding:0px 32px 24px 32px; 
        }
    }

    .ticket-num{
        border:none;
        background: none;
        text-align: center;
    }
}