.header{
    .header-menu{

        a{  
            font-size: 16px;
            line-height: 1.5;
            padding:14px 16.5px;

            &:hover{
                border-bottom: $danger 1px solid;
            }
        }
        
    }
}

.preference{
    img{
        width: 350px;
        height: 350px;
    }
}

.footer{
    
    .subscripe{
        height: 320px;
        background-image:url('../../assets/images/img-6.jpg') ;
        background-position: center center;
    }

    input[type="email"]{
        width: 214px;
        height: 48px;
        border-radius: 4px 0px 0px 4px;
        border:1px $light solid;
        

        &::placeholder{
            padding: 12px;
            color:$info;
        }
    }

    input[type="submit"]{
        width: 136px;
        height: 48px;
        background: $danger;
        border-radius: 0px 4px 4px 0px;
        margin-left: -4px;
        border:1px $danger solid;
    }
}

.index-banner{
    height: 480px;
    background-image: url('../../assets/images/img-6.jpg');
    background-position: 0 0;

    input[type="button"]{
        width: 160px;
        height: 44px;
    }
}