.product{
    .activity-primary{
        background: $primary;
    }

    .activity-light{
        color:$primary;
    }

    .activity{
        height: 471px;
        img{
            width: 445px;
            height: 285px;
        }
    }


}