.product{
    .activity-primary{
        background: $primary;
    }

    .activity-light{
        color:$primary;
    }

    .activity{
        height: 471px;
        img{
            width: 445px;
            height: 285px;
        }
    }
}


    img-lg{
        width: 350px;
        height: 350px;
    }

.live-content{
    height: 482px;
    background-image: url('../images/img-1.jpg');
    background-position: center center;
    background-size: cover;
}

.img-sm{
    width: 128px;
    height: 128px;
}

.live-info{
    height: 482px;
    background: #190014CC;
    color:#fff;

    input[type="button"]{
        width: 140px;
        height: 44px;
    }
}


.detail{
    .w-540{
        width: 540px;
    }

    .productImg{
        width: 540px;
        height: 256px;
    }

    .ticket-num{
        border:none;
        background: none;
        text-align: center;
    }

    .ticket-num-word{
        width: 50px;
        margin: 0 40px 5px 40px;
    }

    .ticket-num-btn{
        font-size: 24px;
    }

    .border-bottom-danger{
        border-bottom: $danger 1px solid;
    }

    .aaa{
        top :20px;
        left:460px;
    }
}
