.product{
    .activity-primary{
        background: $primary;
    }

    .activity-light{
        color:$primary;
    }

    .activity{
        height: 471px;
        img{
            width: 445px;
            height: 285px;
        }
    }


}



    img-lg{
        width: 350px;
        height: 350px;
    }



.live-content{
    height: 482px;
    background-image: url('../images/img-2.jpg');
    background-position: center center;
}

.img-sm{
    width: 128px;
    height: 128px;
}

.live-info{
    height: 482px;
    background: #190014CC;
    color:#fff;

    input[type="button"]{
        width: 140px;
        height: 44px;
    }
}


.detail{
    .productImg{
        width: 540px;
        height: 256px;
    }
}