<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
<header class="header">
  <nav class="border-info">
    <div class=" title wrap d-flex pt7 pb7 justify-content-center align-items-center">
      <div class="col-7 d-flex justify-content-end">
        <h1 class="text-sm text-primary d-flex">EXHIBINECTION</h1>
      </div>
      <div class="col-5  d-flex justify-content-end">
        <div class="d-flex justify-content-between">
          <ul class="d-flex justify-content-between">
            <li><a href="#" class="link-info pr8">Sign in</a></li>
            <li><a href="#" class="link-info pr8">Sign up</a></li>
            <li><a href="#" class="link-dark"><i class="fas fa-ticket-alt"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  <div class="index-banner d-flex flex-column justify-content-center">
    <div class="wrap">
      <h3 class="text-lg text-light font-weight-bold mb2">台北當代藝術展</h3>
      <h2 class="text-light text-xs font-weight-bold mb4">01 JUN - 31 OCT</h2>
      <div class="d-flex">
        <input type="button" class="btn btn-danger mr2" value="購買票券">
        <input type="button" class="btn btn-outline-light" value="詳細資訊">
      </div>
    </div>
  </div>
  </nav>
  <div class="border-info border-top-0 border-left-0 border-right-0 d-flex">
    <ul class="header-menu wrap d-flex justify-content-center pt14 pb14">
      <li><a href="#" class="link-info mr18">音樂</a></li>
      <li><a href="#" class="link-info mr18">戲劇</a></li>
      <li><a href="#" class="link-info mr18">設計</a></li>
      <li><a href="product.html" class="link-info mr18">藝術</a></li>
      <li><a href="#" class="link-info mr18">美食</a></li>
      <li><a href="#" class="link-info mr18">旅遊</a></li>
      <li><a href="#" class="link-info mr18">電影</a></li>
      <li><a href="#" class="link-info mr18">親子</a></li>
      <li><a href="#" class="link-info mr18">期間限定</a></li>
    </ul>
  </div>
</header>

    <%- contents %>

    <div class="preference">
      <div class="wrap pt15 pb15">
          <h2 class="mb6">猜你也喜歡...</h2>
          <div class="row">
              <ul class="d-flex justify-content-center">
                  <li class=" col-4">
                      <img src="assets/images/img-3.jpg" class="mb1" alt="線上展覽">
                      <h5 class="font-weight-bold text-xs mb1">No.22 線上設計展</h5>
                      <h6 class="text-xs">$350</h6>
                  </li>
                  <li class=" col-4">
                      <img src="assets/images/img-3.jpg" class="mb1" alt="線上展覽">
                      <h5 class="font-weight-bold text-xs mb1">No.22 線上設計展</h5>
                      <h6 class="text-xs">$350</h6>
                  </li>
                  <li class="col-3">
                      <img src="assets/images/img-3.jpg" class="mb1" alt="線上展覽">
                      <h5 class="font-weight-bold text-xs mb1">No.22 線上設計展</h5>
                      <h6 class="text-xs">$350</h6>
                  </li>
              </ul>
          </div>
      </div>
  </div>
    <footer class="footer">
      <div class="subscripe d-flex flex-column justify-content-end">
        <div class="wrap">
          <h3 class="mb3 text-lg font-weight-bold text-light">想收到最新消息嗎？<br>快訂閱我們！</h3>
          <div class="mail d-flex mb12">
            <form action="subscribe.do" method="get">
              <input type="email" name="email" placeholder="輸入您的電子信箱">
              <input type="submit" class="text-light" value="訂閱">
            </form>
          </div>
        </div>
      </div>
      <div class="wrap copyrigt d-flex align-items-center justify-content-between">
        <div class="pt7 pb7 d-flex">
          <h4 class="line-high1 mr4 text-sm">EXHIBINECTION</h4>
          <p>© 2020. All Rights Reserved.</p>
        </div>
        <ul class="d-flex justify-content-between">
          <li><a href="#" class="link-info pr8">Sign in</a></li>
          <li><a href="#" class="link-info pr8">Sign up</a></li>
        </ul>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>

