img{
    display: block;
    max-width: 100%;
    height: auto;
}

li{
  list-style: none;
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    
}

.wrap{
    width: 1140px;
    margin: 0 auto;
}

/*字體大小設定*/

.text-xl{
    font-size: 2.5rem;//40px
}

.text-lg{
    font-size: 2rem;//32px
}

.text-md{
    font-size: 1.75rem;//28px
}

.text-sm{
    font-size: 1.5rem;//24px
}

.text-xs{
    font-size: 1.25rem;//20px
}

.text-normal{
    font-size: 1rem;//16px
}

/*特殊行高*/

.line-high1{
    line-height: 1;
}

/*字體粗體設定*/
.font-weight-light{
    font-weight: 300;
}
.font-weight-regular{
    font-weight: 400;
}
.font-weight-md{
    font-weight: 500;
}
.font-weight-bold{
    font-weight: 700;
}

h1{
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    // @include mobile(){
    //     font-size: 23px;
    //     line-height: 24px;
    // }
}

p{
    font-size: 1rem;
}

/*padding-top設定：4的倍數*/
$max: 10;
@for $i from 1 through $max {
  .pt#{$i} {
    padding-top : $i * 4px;
  }
}

.pt14{
    padding-top: 14px;
}

/*padding-bottom設定：4的倍數*/
$max: 10;
@for $i from 1 through $max {
  .pb#{$i} {
    padding-bottom : $i * 4px;
  }
}

.pb14{
    padding-bottom: 14px;
}

/*padding-right設定：4的倍數*/
$max: 10;
@for $i from 1 through $max {
  .pr#{$i} {
    padding-right : $i * 4px;
  }
}

.mr18{
    margin-right: 18px;
}

.border-info{
    border : $info 1px solid;
}


/*margin設定*/
/*margin-bottom設定：4的倍數*/
$max: 12;
@for $i from 1 through $max {
  .mb#{$i} {
    margin-bottom : $i * 4px;
  }
}

/*margin-right設定：4的倍數*/
$max: 12;
@for $i from 1 through $max {
  .mr#{$i} {
    margin-right : $i * 4px;
  }
}